@model Ungdungdoctintuc.Models.Tin
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bl = (List<Ungdungdoctintuc.Models.BinhLuan>)ViewBag.Binhluan;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">




</head>




<body>

    <div class="container">
        <div class="row">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">GameK</a></li>
                    <li class="breadcrumb-item"><a href="#">Game online</a></li>
                    <li class="breadcrumb-item"><a href="#">Moba</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lien Minh</li>
                </ol>
            </nav>
        </div>
        <br>
        <div class="col-sm-8">
            <div class="top-detail">
                <h3 style="text-align:justify">@Model.TieuDe </h3>
                <br>
            </div>
        </div>

        <!-- Content -->
        <div class="row">
            <!-- Left content -->
            <div class="col-sm-2">

                <div class="left-detail">
                    <p class="name-box">Tin lien quan </p>
                    <a href="#"><div class="left-title">Omg</div> </a>
                    <br>
                    <a href=""><img src="~/img/hoang.jpg" class="left-img"></a>
                    <div class="left-content">123 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <hr>
                </div>
            </div>
            <!-- Main content -->
            <div class="col-sm-7" style="text-align:justify">
                <p><span style="font-weight:bold"></span>@Html.Raw(@Model.NoiDung)</p>
                @*<img src="@Model.UrlAnhNoiDung" alt="Alternate Text" class="img-nd" />*@
                <br>
                <hr>

                @foreach (var item in bl)
                {
                    <div class="full-comment">
                        <div class="user-cmt"><b> @item.DocGia.Username </b></div>
                        <div class="cmt-content"> @item.NoiDung</div>
                        <br />
                    </div>
                }

                <div class="cmt">
                    <h5>Hãy để lại bình luận của bạn</h5>
                    @using (Html.BeginForm("PostComment", "Home", FormMethod.Post))
                    {
                        <textarea placeholder="Thêm bình luận" class="cmt-box" name="noiDung"></textarea>
                        <input type="hidden" name="idTin" value=@Model.IdTin>
                        <div class="btn-cmt">
                            <input type="submit" value="Bình luận" class="btn-submit postcmt">
                        </div>
                    }
                </div>
            </div>
            <!-- Left content -->
            <div class="col-sm-3">
                <h2>Banner</h2>
            </div>


        </div>

    </div>



    <!-- JQuery -->


</body>

</html>


