@using Ungdungdoctintuc.Models
@model List<Tin>


@{
    ViewBag.Title = "Home Page";
    var urlhinh = (string)ViewBag.UrlHinh;
}


<!-- phần 1 -->

<div class="container bg-white">
    <div class="row-1">
        <h3 class="new-post-index-tt">
            TIN MỚI NHẤT
        </h3>
        @foreach (var item in Model)
        {
            <div class="row row-2 m-0 big-new">
                <div class="col-sm-4 p-0 ">
                    <a href="@Url.Action("Details", "Home", new { id = item.IdTin })">
                        <img src="@Url.Content(item.UrlAnhBia)" alt="tin-tuc" class="img-news" />
                    </a>
                </div>
                <div class="col-sm-8">

                    <a href="@Url.Action("Details","Home",new { id=item.IdTin})" class="link-news">
                        <h4 class="title-design">
                            @item.TieuDe
                        </h4>
                    </a>
                    <p class="tit-img-cat">
                        @Html.Raw(@item.TomTat)
                    </p>

                </div>
            </div>
        }

        <div class="triple-news">
            <div class="row">
                @Html.Action("ShowTinMoi2", "Home")
            </div>
        </div>
    </div>





    <!-- Game Online -->
    <a href="#">
        <h4 class="index-cat-tt">Game Online</h4>
    </a>
    <div class="row">
        <div class="col-sm-12 ">
            @Html.Action("ShowTinTheoTheLoai1", "Home")
        </div>
    </div>
    <!-- Game Offline -->
    <a href="#">
        <h4 class="index-cat-tt">Game Offline</h4>
    </a>
    <div class="row">
        <div class="col-sm-12">
            @Html.Action("ShowTinTheoTheLoai2", "Home")
        </div>
    </div>
    <!-- Game Console -->
    <a href="#">
        <h4 class="index-cat-tt">Game Console</h4>
    </a>
    <div class="row">
        <div class="col-sm-12">
            @Html.Action("ShowTinTheoTheLoai3", "Home")
        </div>
    </div>
    <!-- Esport -->
    <a href="#">
        <h4 class="index-cat-tt">Tin Esport</h4>
    </a>
    <div class="row">
        <div class="col-sm-12">
            @Html.Action("ShowTinTheoTheLoai4", "Home")
        </div>
    </div>

</div>



















@*<div class="row">
            @Html.Action("ShowTinMoi2", "Home")
        </div>






         phần 3
        <div class="row">
            <a href="#">
                <h4>Game Online</h4>
            </a>


            @Html.Action("ShowTinTheoTheLoai1", "Home")
        </div>


    </div>*@




