@using Ungdungdoctintuc.Models
@model List<Tin>


@{
    ViewBag.Title = "Home Page";
    var urlhinh = (string)ViewBag.UrlHinh;
}

    <div class="container pt-5 change-a">
        <!-- phần 1 -->
        <h3>
            Tin mới
        </h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">


                    @foreach (var item in Model)
                    {

                        <div class="col-sm-4 ">
                            @Html.Action("LayUrl", "Home", new { id = item.IdTin })
                        </div>
                        <div class="col-sm-8 px-2 bg-light">
                            <a href="@Url.Action("Details","Home",new { id=item.IdTin})" class="link-news">
                                <h4>
                                    @item.TieuDe
                                </h4>
                            </a>
                            <p>
                                @item.TomTat
                            </p>

                        </div>

                    }

                </div>
            </div>
        </div>
        <!-- phần 2 -->
       
            <div class="row part-2">
                <div class="col-sm-12">
                    <div class="row">
                        @Html.Action("ShowTinMoi2", "Home")
                    </div>

                </div>

            </div>

        


        <!-- phần 3 -->
        <div class="part-padding change-a">
            <div class="row p-2" style="background-color: #e74c3c;">
                <a href="#">
                    <h4>Game Online</h4>
                </a>
                <div class="row">

                    @Html.Action("ShowTinTheoTheLoai1", "Home")
                </div>
            </div>
        </div>

        <!-- phần 4 -->
        <div class="part-padding change-a">
            <div class="row p-2" style="background-color: #e74c3c;">
                <a href="#">
                    <h4>Game Offline</h4>
                </a>

                <div class="row">
                    @Html.Action("ShowTinTheoTheLoai2", "Home")
                </div>
            </div>
        </div>

        <!-- phần 5 -->
        <div class="part-padding change-a">
            <div class="row p-2" style="background-color: #e74c3c;">
                <a href="#">
                    <h4>PC/Console</h4>
                </a>

                <div class="row">
                    @Html.Action("ShowTinTheoTheLoai3", "Home")
                </div>
            </div>
        </div>

        <!-- phần 6 -->
        <div class="part-padding change-a">
            <div class="row p-2" style="background-color: #e74c3c;">
                <a href="#">
                    <h4>Esport</h4>
                </a>

                <div class="row">
                    @Html.Action("ShowTinTheoTheLoai4", "Home")
                </div>
            </div>
        </div>
    </div>

