@model IEnumerable<Ungdungdoctintuc.Models.Tin>
@{
    ViewBag.Title = "Search";
    String search = ViewBag.search;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:30px" class="row">

    <div class="col-sm-12">
        <div class="row">
            <h2>Tìm kiếm với từ khóa : @search</h2>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="list-content row">
                    <div class="list-content-img">
                        <img src="@Url.Content(item.UrlAnhBia)">
                    </div>
                    <div class="list-content-title">
                        <h4>@item.TieuDe</h4>
                        <p>@item.TomTat!</p>
                        <!-- <span class="timeago" title="5/21/2020 12:00:00 AM"></span> -->
                        <time class="timeago" title="@item.NgayDang">@item.NgayDang</time>
                    </div>
                </div>
            </div>

        }
    </div>


</div>